<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConexaoBD" connectionString="Data Source=CODESP1855\NELSON;Initial Catalog=ExemploBD;User ID=sa;Password=codinome" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>